{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container-fluid">
    <!-- Business News Section  -->
    <h3 class="text-center animated lightSpeedIn slow"> Top Business News Sources</h3>
    <hr>

    {{ macro.displaySourceList(sources)}}

    <!-- Technology News Section  -->

    <h3 class="text-center animated lightSpeedIn slow"> Top Technology News Sources</h3>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    <!-- Entertainment News Section  -->

    <h3 class="text-center animated lightSpeedIn slow"> Top Entertainment News Sources</h3>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}

    <!-- Sports News Section  -->

    <h3 class="text-center animated lightSpeedIn slow"> Top Sports News Sources</h3>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}

</div>


{%endblock%}